@page "/gameUsers"
@using BlazorApp1.Models;
@using BlazorApp1.Services;
@inject IGameUsersService GameUsersService

<div class="card mt-4">
    <h4 class="card-header">GameUsers</h4>
    <div class="card-body">
        <h6>GameUsers from secure api end point</h6>
        @if (loading)
        {
            <div class="spinner-border spinner-border-sm"></div>
        }
        @if (gameUsers != null)
        {
            <ul>
                @foreach (var gameUser in gameUsers)
                {
                    <tr>
                        <td>@gameUser.GameId</td>
                        <td>@gameUser.UserId</td>
                    </tr>
                }
            </ul>
        }
    </div>
</div>

@code {
    private bool loading;
    private IEnumerable<GameUser> gameUsers;


    protected override async Task OnInitializedAsync()
    {
        loading = true;
        gameUsers = await GameUsersService.GetAll();
        loading = false;
    }
}