@page "/games"
@using BlazorApp1.Models;
@using BlazorApp1.Services;
@inject IGamesService GamesService

<div>
    <a class="btn btn-primary" href='/addGame'>Add</a>
</div>

<div class="card mt-4">
    <h4 class="card-header">Games</h4>
    <div class="card-body">
        <h6>Games from secure api end point</h6>
        @if (loading)
        {
            <div class="spinner-border spinner-border-sm"></div>
        }
        @if (games != null)
        {
            <ul>
                @foreach (var game in games)
                {
                    <tr>
                        <td><a href='/games/@game.Id'>@game.Title</a></td>
                    </tr>
                }
            </ul>
        }
    </div>
</div>

@code {
    private bool loading;
    private IEnumerable<Game> games;


    protected override async Task OnInitializedAsync()
    {
        loading = true;
        games = await GamesService.GetAll();
        loading = false;
    }
}